# SQL data exercise

In [7]:
import sqlite3
import pandas as pd

## Data manipulation

In [3]:
import os
import sys

# Add ../src to the path
proj_path = os.path.abspath(os.path.join(os.getcwd(), "../src"))
sys.path.insert(0, proj_path)

# Import the parse config function to parse the .toml file
from utils.config_tool import parse_config

In [4]:
# Load the config file
config = parse_config("../config/trade_w_llm.toml")
local_path = os.path.join(config['info']['local_data_path'], 'data_raw', config['info']['db_name'])

In [5]:
db = sqlite3.connect(local_path)
cursor = db.cursor()
# Get the data from the database
for row in cursor.execute('SELECT * FROM daily_prices WHERE DATE(date) >= "2015-01-01" AND DATE(date) <= "2015-01-02" ORDER BY date LIMIT 10'):
    print(row)
db.close()

('2015-01-02 05:00:00+00:00', 'AAPL', 24.778670852228824, 24.789794015599888, 23.87997390028452, 24.320425033569336, 212818400)
('2015-01-02 05:00:00+00:00', 'MSFT', 39.98642834247686, 40.637727496436796, 39.88359232218806, 40.07212448120117, 27913900)
('2015-01-02 05:00:00+00:00', 'NVDA', 0.4830990731716156, 0.486698942389443, 0.4754193903189038, 0.4830990731716156, 113680000)
('2015-01-02 05:00:00+00:00', 'GOOG', 26.25372770078823, 26.365888331325362, 26.010054587782015, 26.045289993286133, 28951268)

In [6]:
# Wrinte query_string
query_string = "SELECT * FROM daily_prices WHERE DATE(date) >= '2015-01-01' AND DATE(date) <= '2015-01-02' ORDER BY date LIMIT 10"
db = sqlite3.connect(local_path)
cursor = db.cursor()
cursor.execute(query_string)
rows = cursor.fetchall()
for row in rows:
    print(row)
db.close()

('2015-01-02 05:00:00+00:00', 'AAPL', 24.778670852228824, 24.789794015599888, 23.87997390028452, 24.320425033569336, 212818400)
('2015-01-02 05:00:00+00:00', 'MSFT', 39.98642834247686, 40.637727496436796, 39.88359232218806, 40.07212448120117, 27913900)
('2015-01-02 05:00:00+00:00', 'NVDA', 0.4830990731716156, 0.486698942389443, 0.4754193903189038, 0.4830990731716156, 113680000)
('2015-01-02 05:00:00+00:00', 'GOOG', 26.25372770078823, 26.365888331325362, 26.010054587782015, 26.045289993286133, 28951268)

In [16]:
# Transfer data into pandas dataframe
query_string = "SELECT * FROM daily_prices d LEFT JOIN technical_factors t ON d.date = t.date WHERE t.symbol = 'AAPL' AND d.symbol = 'AAPL' AND DATE(d.date) >= '2016-01-01' AND DATE(d.date) <= '2016-12-31' ORDER BY d.date"
db = sqlite3.connect(local_path)
df = pd.read_sql_query(query_string, db)
print(df.head())
db.close()

                        date symbol       open       high        low  \
0  2016-01-04 05:00:00+00:00   AAPL  23.214484  23.838907  23.076478
1  2016-01-05 05:00:00+00:00   AAPL  23.924872  23.947496  23.169232
2  2016-01-06 05:00:00+00:00   AAPL  22.750689  23.160184  22.594584
3  2016-01-07 05:00:00+00:00   AAPL  22.325357  22.653404  21.816317
4  2016-01-08 05:00:00+00:00   AAPL  22.295944  22.422638  21.890975

       close     volume                       date symbol      rsi_6  ...  \
0  23.834381  270597600  2016-01-04 05:00:00+00:00   AAPL  30.139859  ...
1  23.237103  223164000  2016-01-05 05:00:00+00:00   AAPL  21.267339  ...
2  22.782362  273829600  2016-01-06 05:00:00+00:00   AAPL  16.759775  ...
3  21.820841  324377600  2016-01-07 05:00:00+00:00   AAPL  10.898678  ...
4  21.936222  283192000  2016-01-08 05:00:00+00:00   AAPL  15.170520  ...

   macd_slow  macd_signal        adx  bbands_upper  bbands_middle  \
0  -0.517593    -0.080726  31.459560     27.063115      25.050645
1  -0.544350    -0.107027  32.398826     26.832145      24.866033
2  -0.579839    -0.141960  33.798082     26.631493      24.667168
3  -0.632962    -0.212489  35.655327     26.511205      24.420792
4  -0.691067    -0.232422  37.379911     26.405783      24.209710

   bbands_lower         cci       atr           obv            ad
0     23.038175 -159.060977  0.533474 -1.517644e+09 -3.324487e+08
1     22.899921 -158.460303  0.550959 -1.740808e+09 -5.166893e+08
2     22.702842 -212.165024  0.557499 -2.014637e+09 -6.086973e+08
3     22.330380 -221.981553  0.586681 -2.339015e+09 -9.295687e+08
4     22.013637 -164.977967  0.587761 -2.055823e+09 -1.164558e+09

[5 rows x 37 columns]

In [17]:
df.head()

,date,symbol,open,high,low,close,volume,date,symbol,rsi_6,...,macd_slow,macd_signal,adx,bbands_upper,bbands_middle,bbands_lower,cci,atr,obv,ad
0,2016-01-04 05:00:00+00:00,AAPL,23.214484,23.838907,23.076478,23.834381,270597600,2016-01-04 05:00:00+00:00,AAPL,30.139859,...,-0.517593,-0.080726,31.459560,27.063115,25.050645,23.038175,-159.060977,0.533474,-1.517644e+09,-3.324487e+08
1,2016-01-05 05:00:00+00:00,AAPL,23.924872,23.947496,23.169232,23.237103,223164000,2016-01-05 05:00:00+00:00,AAPL,21.267339,...,-0.544350,-0.107027,32.398826,26.832145,24.866033,22.899921,-158.460303,0.550959,-1.740808e+09,-5.166893e+08
2,2016-01-06 05:00:00+00:00,AAPL,22.750689,23.160184,22.594584,22.782362,273829600,2016-01-06 05:00:00+00:00,AAPL,16.759775,...,-0.579839,-0.141960,33.798082,26.631493,24.667168,22.702842,-212.165024,0.557499,-2.014637e+09,-6.086973e+08
3,2016-01-07 05:00:00+00:00,AAPL,22.325357,22.653404,21.816317,21.820841,324377600,2016-01-07 05:00:00+00:00,AAPL,10.898678,...,-0.632962,-0.212489,35.655327,26.511205,24.420792,22.330380,-221.981553,0.586681,-2.339015e+09,-9.295687e+08
4,2016-01-08 05:00:00+00:00,AAPL,22.295944,22.422638,21.890975,21.936222,283192000,2016-01-08 05:00:00+00:00,AAPL,15.170520,...,-0.691067,-0.232422,37.379911,26.405783,24.209710,22.013637,-164.977967,0.587761,-2.055823e+09,-1.164558e+09

In [18]:
# Remove the duplicate columns
df = df.loc[:,~df.columns.duplicated()]
df.head()

,date,symbol,open,high,low,close,volume,rsi_6,rsi_12,rsi_24,...,macd_slow,macd_signal,adx,bbands_upper,bbands_middle,bbands_lower,cci,atr,obv,ad
0,2016-01-04 05:00:00+00:00,AAPL,23.214484,23.838907,23.076478,23.834381,270597600,30.139859,33.216396,38.861488,...,-0.517593,-0.080726,31.459560,27.063115,25.050645,23.038175,-159.060977,0.533474,-1.517644e+09,-3.324487e+08
1,2016-01-05 05:00:00+00:00,AAPL,23.924872,23.947496,23.169232,23.237103,223164000,21.267339,28.187743,35.918367,...,-0.544350,-0.107027,32.398826,26.832145,24.866033,22.899921,-158.460303,0.550959,-1.740808e+09,-5.166893e+08
2,2016-01-06 05:00:00+00:00,AAPL,22.750689,23.160184,22.594584,22.782362,273829600,16.759775,25.039295,33.879912,...,-0.579839,-0.141960,33.798082,26.631493,24.667168,22.702842,-212.165024,0.557499,-2.014637e+09,-6.086973e+08
3,2016-01-07 05:00:00+00:00,AAPL,22.325357,22.653404,21.816317,21.820841,324377600,10.898678,19.909685,30.109671,...,-0.632962,-0.212489,35.655327,26.511205,24.420792,22.330380,-221.981553,0.586681,-2.339015e+09,-9.295687e+08
4,2016-01-08 05:00:00+00:00,AAPL,22.295944,22.422638,21.890975,21.936222,283192000,15.170520,22.001454,31.070163,...,-0.691067,-0.232422,37.379911,26.405783,24.209710,22.013637,-164.977967,0.587761,-2.055823e+09,-1.164558e+09

In [20]:
ticker = 'AAPL'
# Get the data from the database
query_string = f"SELECT * FROM daily_prices d LEFT JOIN technical_factors t ON d.date = t.date WHERE t.symbol = '{ticker}' AND d.symbol = '{ticker}' AND DATE(d.date) >= '2016-01-01' AND DATE(d.date) <= '2016-12-31' ORDER BY d.date"

In [21]:
df.min()

date             2016-01-04 05:00:00+00:00
symbol                                AAPL
open                             20.596722
high                             20.978906
low                              20.475433
close                            20.674534
volume                            45903600
rsi_6                             5.580591
rsi_12                           18.064074
rsi_24                           30.109671
roc_14                          -15.976826
roc_30                          -18.684378
roc_60                          -22.225864
mom_14                            -4.07395
mom_30                            -5.03158
mom_60                           -6.108473
ma_20                              21.4798
ma_30                            21.842275
ma_60                            22.008226
ma_200                            23.27452
ema_20                           21.883525
ema_30                           22.012539
ema_60                           22.310128
ema_200                          23.547135
macd_fast                        -0.947479
macd_slow                        -0.881321
macd_signal                      -0.451463
adx                              13.581367
bbands_upper                     22.299515
bbands_middle                      21.4798
bbands_lower                      19.54975
cci                            -248.544914
atr                                0.28784
obv                          -2740936400.0
ad                      -1284967098.270585
dtype: object